<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="Study katakana alphabet">
    <meta name="keywords" content="Japanese,learning,katakana,japoński,język,flash cards">
    <title><Japanse-Converter></Japanse-Converter></title>
    <link rel="stylesheet" href="/static/css/base.css">

</head>
<nav class="nav">
    <svg class="Hamburger" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
        stroke="#A1A1FF" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
    </svg>
    <svg class='Cross' xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
        stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
    </svg>

    <ul class="Dropdown">
        <li><img onclick='go("/")' src="static/svg/home.svg" alt="Home icon" /><a href="/">Converting</a></li>
        <li><img onclick='go("/about")' src="static/svg/about.svg" alt="About icon" /><a href="/about">About</a></li>
        <li><img onclick='go("/contact")' src="static/svg/chat.svg" alt="Contact icon" /><a href="/contact">Contact</a>
        </li>
        <li><img onclick='go("/dictionary")' src="static/svg/book.svg"
                alt="Dictionary icon" /><a href="/dictionary">Dictionary</a></li>
        <li><img onclick='go("/login")' src="static/svg/person.svg" alt="Login icon" /><a href="/login">Login</a></li>
    </ul>
    <script src="/static/js/Menu.js"></script>
</nav>

<body>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
    </footer>
</body>

</html>