{% extends 'html/base.html' %}
{% block content %}
Tłumacz
<div class = 'wrapper'>
    
    <textarea id="input_text"></textarea>
    <p id="output_text">hello world</p>
    <div class="radio">
        <div class="option">
            <input type="radio" name='option' id="krotkie">
            <label for="krotkie">krotkie</label>
        </div>

                <div class="option">
            <input type="radio" name='option' id="srednie">
            <label for="srednie">srednie</label>
        </div>
                <div class="option">
            <input type="radio" name='option' id="dlugie">
            <label for="dlugie">dlugie</label>
        </div>
                <div class="option">
            <input type="radio" name='option' id="mieszane">
            <label for="mieszane">mieszane</label>
        </div>

    </div><button onclick="upload()" id="upload">wyślij</button>
</div>
<script src="static\js\Text.js"></script>
{%endblock%}